<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Assignee</th>
      <th scope="col">Status</th>
      <th scope="col">Tags</th>
    </tr>
  </thead>
  <tbody>
    <% tickets.each do |ticket| %>
    <tr>
      <th scope="row">
        <%=link_to ticket.name, ticket_path(ticket)%>
      </th>
      <td><%=ticket.assignee.try(:name)%></td>
      <td><%=ticket.status%></td>
      <td><%= ticket.tags.map{ |t| t.name }.join(', ')%></td>
      <td><%= link_to 'Edit', edit_ticket_path(ticket)%> or <%= link_to 'Delete', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
