<h3><%= @ticket.name %></h3>
<p><%= @ticket.body %> </p>
<p>Tags: <%= @ticket.tags.order(:name).map{ |t| t.name }.join(', ')%></p>
<%= link_to 'Edit', edit_ticket_path(@ticket)%>
<%= link_to 'Delete', @ticket, method: :delete, data: { confirm: 'Are you sure?' } %>


<table class="table">
  <thead>
    <tr>
      <th scope="col">Status</th>
      <th scope="col">Creator</th>
      <th scope="col">Assignee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%=@ticket.status%></td>
      <td><%=@ticket.creator.name%></td>
      <td><%=@ticket.assignee.try(:name)%></td>
    </tr>
  </tbody>
</table>

<h3>Comments</h3>
<% if @ticket.comments.any? %>
  <% @ticket.comments.order(:created_at).reverse.each do |comment| %>
    <div>
      <h5><%= comment.body %></h5>
      <em>posted by <%=comment.creator.name %></em>
      <small><%= display_datetime(comment.created_at) %></small>
      <%= link_to 'Edit', edit_ticket_comment_path(@ticket, comment)%>
      <%= link_to 'Delete', [@ticket, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <br/>
  <% end %>
<% end %>
<%= render 'comments/form', comment: Comment.new %>
