<%= render 'shared/errors', obj: @tag %>

<div class='well'>
  <%= form_for @tag do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <%= f.submit(@tag.new_record? ? 'Create Tag' : 'Update Tag', class: 'btn btn-primary') %>
  <% end %>
  <%= link_to 'Back', tags_path %>
</div>
