<h3>Tags</h3>
<% if Tag.all.empty? %>
<p>
  There are no tags yet, why don't you create one?
</p>
<% else %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Tickets</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% countHash = Tag.joins(:tickets).group('Tag_id').count %>
    <% @tags.order(:name).each do |tag| %>
    <tr>
      <td><%=tag.name%></td>
      <td>
        <%= link_to tickets_path(:tag => tag.id) do%>
          <%= countHash[tag.id] || 0 %>
        <% end %>
      </td>
      <td><%= link_to 'Edit', edit_tag_path(tag)%> or <%= link_to 'Delete', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'New Tag', new_tag_path %>
